@using MVC_Online_Ticari_Otomasyon.Models.Classes;
@model List<SalesTransaction>
@{
    ViewBag.Title = "PrintSalesDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Print Sales Details</h2>
<div class="container-fluid my-2">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><strong>Employee Name:</strong> @ViewBag.EmployeeName</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sales ID</th>
                    <th>Product</th>
                    <th>Employee</th>
                    <th>Customer</th>
                    <th>Sales Quantity</th>
                    <th>Price(Per one)</th>
                    <th>Total Amount</th>
                    <th>Sales Date</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SalesTransactionId</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Employee.EmployeeFirstName @item.Employee.EmployeeLastName</td>
                        <td>@item.Current.CurrentFirstName @item.Current.CurrnetLastName</td>
                        <td>@item.SalesTransactionPiece</td>
                        <td>@item.SalesTransactionPrice</td>
                        <td>@item.SalesTransactionTotalAmount</td>
                        <td>@item.SalesTransactionDate</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

